spring:
  datasource:
    username: root
    password: Mehr@zin123
    url: jdbc:mysql://localhost:3306/mehr
  jpa:
    hibernate.ddl-auto: none
    generate-ddl: false
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
server:
  port: 8080






