spring:
  datasource:
    username: root
    password:
    url: jdbc:mysql://localhost:3306/theralink
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: false
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect



