spring:
  main:
    allow-circular-references: true
  profiles:
    active: dev
    group:
      dev:
        - dev
  datasource:
    username: root
    password: M!y2SQL@

  jpa:
    show-sql: true

server:
  port: 8080

